.center {
    margin: auto;
}

.center-horiz{
    width: fit-content;
    margin-left: auto;
    margin-right: auto
}


.btn-outline-light {
    border-width: medium;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tab {
    margin-left: 40px;
}

.tab-mini{
    margin-left: 20px
}

.vanish {
    display: none;
    margin: 0;
}


p{
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'sans-serif';
    width: fit-content;
}

h1 {
    font-size: 4rem;
}


h1, h2, h3 {
    font-weight: 600;
}

h4{
    font-weight: 500;
}

.header {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    height: auto;
    max-width: 45vh;
    width: 100vw;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel{
    height: 20vh;
    width: fit-content;
    margin-right: 0;
    margin-left: 0;
}

.thumbnail{
    background-color: #bbbbbb;
    height: inherit;
    width: auto;
    margin-left: .5rem;
    margin-right: .5rem;

}

/*
https://stackoverflow.com/questions/17481660/darken-background-image-on-hover
 */
.thumbnail:hover {
    -webkit-filter: brightness(85%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.navbar {
    min-height: 5.5vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-scale {
    margin-bottom: 0;
    font-size: 4.5vh;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    font-weight: 600;
    font-size: 2vh;
}

.navbar-toggler-icon {
    width: 3.5vh;
    height: 3.5vh;
}

.navbar-toggler {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;

}




.bg-a {
    background-color: #262753;
    height: fit-content;
    padding-bottom: 2rem;
}


.bg-b {
    background-color: #6170A7;
}

.thumbnail-container {
    position: relative;
    text-align: center;
    width: fit-content;
    height: inherit;
    padding-right: 0;
    padding-left: 0;
}

/* Bottom left text */
.thumbnail-text {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
    color: white;
}

.thumbnail-highlight{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: black;*/
    width: 100%;
    height: inherit;
}

.thumbnail:hover {
    -webkit-filter: brightness(85%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

@media only screen and (min-width: 768px) {
    h1 {

        font-size: 3rem;
    }

    .logo {
        margin-bottom: 3rem;
    }

    .header {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .vanish {
        display: initial;
    }

    .bg-a {
        padding-bottom: 0;
    }
}