
a {
    text-decoration: none;
    color: black;
}

p{
    text-align: left;
}

.large-logo{
    max-width: 400px;
    width: 40%;
}
.darkblue{
    background: #262853;
}
.lightblue{
    background: #9db9f5;
}

.previewGallery{
    overflow: hidden;
}

.galleryTitle{
    float: left;
}


.thumbnail {
    object-fit: contain;
    float: left;
    height: 200px;

    width: auto;

    -webkit-filter: brightness(100%);
}

/*
https://stackoverflow.com/questions/17481660/darken-background-image-on-hover
 */


.thumbnail:hover {
    -webkit-filter: brightness(85%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
